.slider {
    display: flex;
    flex-direction: column;
}

.slider > div {
    display: flex;
}

.slider > div > div {
    flex: 1 0;
}

.slider > div input {
    flex: 0 1;
    appearance: none;
    border: 1px solid #1d1d1d;
    min-width: 50px;
    border-radius: 3px;
    font-size: 16px;
    padding: 1px;
    text-align: right;
}

.slider > input {
    width: auto;
    border: none;
}

.slider input[type="number"]::-webkit-inner-spin-button,
.slider input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}